<!-- <router-outlet></router-outlet> -->
<!-- <div>
  <input type="file" (change)="onInputChanged($event)">
</div>
<p>Base 64 </p>
<p>{{base64}}</p> -->


<!-- par category and by marque -->
<div class="container py-16">
  <div class="grid grid-cols-3 gap-3">
    <!-- card start -->
    <div class="relative rounded-sm overflow-hidden group">
      <img src="../assets/images/headphone.jpg" class="w-full">
      <a href="" class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-serif font-medium group-hover:bg-opacity-45 transition">Accesoire</a>
    </div>
    <!-- card end -->

    <!-- card start -->
    <div class="relative rounded-sm overflow-hidden group">
      <img src="../assets/images/headphone.jpg" class="w-full">
      <a href="" class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-serif font-medium group-hover:bg-opacity-45 transition">Accesoire</a>
    </div>
    <!-- card end -->

    <!-- card start -->
    <div class="relative rounded-sm overflow-hidden group">
      <img src="../assets/images/headphone.jpg" class="w-full">
      <a href="" class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-serif font-medium group-hover:bg-opacity-45 transition">Accesoire</a>
    </div>
    <!-- card end -->

    <!-- card start -->
    <div class="relative rounded-sm overflow-hidden group">
      <img src="../assets/images/headphone.jpg" class="w-full">
      <a href="" class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-serif font-medium group-hover:bg-opacity-45 transition">Accesoire</a>
    </div>
    <!-- card end -->

    <!-- card start -->
    <div class="relative rounded-sm overflow-hidden group">
      <img src="../assets/images/headphone.jpg" class="w-full">
      <a href="" class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-serif font-medium group-hover:bg-opacity-45 transition">Accesoire</a>
    </div>
    <!-- card end -->

    <!-- card start -->
    <div class="relative rounded-sm overflow-hidden group">
      <img src="../assets/images/headphone.jpg" class="w-full">
      <a href="" class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-serif font-medium group-hover:bg-opacity-45 transition">Accesoire</a>
    </div>
    <!-- card end -->
  </div>
</div>

<app-detaills></app-detaills>